#bar{
	z-index:501;
}


#edit{
  z-index: 501;
  color:white;
  display:none;
  width:25%;
  height:350px;
  background-color:black;
  margin-left:37%;
  border-radius: 5%;
  text-align: center;
  position: fixed;
  font-family: 'Oswald', sans-serif;
}