// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#crane{
	height:739px;
	// background-image:url("/assets/metal.gif");
	background-image: asset_url('metal.gif');
	background-size:100%;

	#logo{
		padding-top:15%;
	}

}
